{% trans_default_domain 'FOSUserBundle' %}

<h1 class="h3 mb-3 font-weight-normal">Register</h1>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div class="offset-md-2">
        <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-primary" />
    </div>
{{ form_end(form) }}
