{% extends 'base.html.twig' %}

{% block title %}New Supplier{% endblock %}

{% block body %}
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <h1 class="h3 mb-3 font-weight-normal">Create new Supplier</h1>
        </div>
    </div>

    {{ include('supplier/_form.html.twig') }}
{% endblock %}