<form method="post" action="{{ path('balloon_delete', {'id': balloon.id}) }}" onsubmit="return confirm('Are you sure you want to delete this balloon: {{ balloon.name }}?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ balloon.id) }}">
    <button class="btn btn-danger btn-sm">Delete</button>
</form>