{% extends 'base.html.twig' %}

{% block title %}New Color Type{% endblock %}

{% block body %}
    <h1>
        Create new Color Type
        <a href="{{ path('color_type_index') }}" class="btn btn-outline-info">back to list</a>
    </h1>

    {{ include('color_type/_form.html.twig') }}
{% endblock %}