{% extends 'base.html.twig' %}

{% block title %}Edit Celebration Type{% endblock %}

{% block body %}
    <h1>
        Edit Celebration Type: {{ celebration_type.name }}
        <a href="{{ path('celebration_type_index') }}" class="btn btn-outline-info">back to list</a>
    </h1>

    {{ include('celebration_type/_form.html.twig', {'button_label': 'Update'}) }}

    {#{{ include('celebration_type/_delete_form.html.twig') }}#}
{% endblock %}